<div class="container">
<h1 class="text-center">Учет сотрудников</h1>
<p class="text-center text-uppercase"><a class="btn btn-lg btn-success" href="/users/login" role="button">Войти в систему</a></p>
</div>