<div class="container">
	<p id = "containerPrompt" class="alert alert-danger"></p>
	<h1 id="login" class="text-center">{{title}}</h1>
    <form id="loginForm" action="/users/login" method="post"> 
       <div class="form-group">
            <label for="userLogin">Логин</label>
            <input id="userLogin" class="form-control" name="userLogin"  type="text" placeholder="Введите имя пользователя" required>
        </div>
        <div class="form-group">
            <label for="userPassword">Пароль</label>
            <input id="userPassword" class="form-control" name="userPassword" type="password" placeholder="Введите пароль"  required>
        </div>  
      <button id="doLogin" class="btn btn-outline-success" type="submit">Войти</button>
    </form>
</div>

<script type="text/javascript" src="../js/login.js"></script>
