<div class="container"> 
 	<p id = "containerPrompt" class="alert alert-danger"></p> 
  	<h1 class="text-center">Регистрация</h1>
	  <div class="signUp">
	    <form id="signUpForm" action="/users/register" method="post"> 
	       <div class="form-group">
	            <label for="userLogin">Логин</label>
	            <input id="userLogin" class="form-control" name="userLogin"  type="text" placeholder="Введите имя пользователя" required>
	        </div>
	        <div class="form-group">
	            <label for="userEmail">Почта</label>
	            <input id="userEmail" class="form-control" name="userEmail"  type="text" placeholder="Введите почту" required>
	        </div>
	        <div class="form-group">
	            <label for="userPassword">Пароль</label>
	            <input id="userPassword" class="form-control" name="userPassword" type="password" placeholder="Введите пароль"  required>
	        </div>
	        <div class="form-group">
	            <label for="userPasswordMatch">Еще раз пароль </label>
	            <input id="userPasswordMatch" class="form-control" name="userPasswordMatch" type="password" placeholder="Введите пароль повторно"  required>
	        </div>
	      <button id="addNewUser" class="btn btn-outline-success" type="submit">Зарегистрировать</button>
	    </form>
	  </div>
</div>
<script type="text/javascript" src="../js/register.js"></script>